/************ MOBILE FIRST ************/

/* GENERAL STYLES */

*{
  box-sizing: border-box;
}

body{
  color:#444;
  font-family: 'Lato', sans-serif;
}

.main-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fcfbf7;
}

ul{
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
p,
a
{
  text-align: center;
}

h2{
  text-transform: uppercase;
  font-size: 1em;
}

h3{
  font-size: 1.4em;
  font-weight: bold;
}


p{
  font-size: 1.3em;
  font-weight:100;
  line-height: 1.4;
}


a{
  text-decoration: none;
}

.main-text{
   color: #a3a3a3;
}

img{
  width: 100%;
  height: auto;
}

/* HEADER STYLES */

header h1{
  font-family: 'Lobster', cursive;
  color:#fdd275;
  margin-top: 0;
  padding: 20px 15px 0;
}

.header-nav ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 15px;
}

.header-nav li{
  background-color: #fff;
  margin: 5px 0;
  font-weight: 700;
}

.header-nav a{
display: block;
padding: 5px 0;
}

/* HOME STYLES */

#home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 15px;
  padding: 40px 0 0;
}

#home .main-text {
  margin: 0;
  padding: 40px 0;
}

#home img{
 max-width: 367px;
 max-height: 255px;
 margin: 0 auto;
}

/* PORTFOLIO STYLES */

#portfolio{
  margin: 0;
  padding: 0 20px;
  background-color: #fff;
}

#portfolio h2{
margin: 50px;
}


#portfolio p{
  margin: 20px 0 40px;
}

.grid{
  max-width: 1600px;
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(100%,1fr));
  grid-template-rows: repeat(2,1fr);
  grid-gap: 20px;
}

/* SKILLS STYLES */
  #skills{
    background-color: #eab8b7;
    margin: 0 15px;
    padding: 50px 0;
  }

  #skills h2{
   padding: 0 0 10px;
  }

  #skills p{
    color: #cbdfd7;
  }

  #skills ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  }

  #skills li{
    text-align: center;
    font-size: 1.3em;
    padding: 5px 10px;
    background-color: #cbdfd7;
    color: #3b202f;
    margin: 5px auto;
  }

  #skills li:nth-child(odd){
    background-color: #3b202f;
    color: #cbdfd7;
  }



/* CONTACT STYLES */
#contact{
margin: 0 15px;
padding: 50px 0;
}

#contact h2{
  padding-bottom: 10px;
}


#contact li{
  padding: 10px 0;
  font-size: 1.2em;
  color: #a3a3a3;
  text-align: center;
}

#contact a{
  color: #a3a3a3;
  font-weight: 900;
}

/* FOOTER STYLES */
footer{
  margin: 0 20px;
  border-top: 1px solid #444;
  padding: 20px 0;
}

footer ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer li{
  text-transform: uppercase;
  font-weight: 900;
}

.logo-footer{
  font-family: 'Lobster', cursive;
  font-size: 0.8em;
  font-weight: 100;
  color:#fdd275;
}

.mobile-nav{
  font-size: 0.8em;
}

.footer-nav{
  display: none;
}

/* PSEUDO CLASSES */

a:link{
color: #444;
}

a:hover{
  text-decoration: underline;
}

a:visited{
  color: #444;
}

/************ MEDIA QUERIES ************/


@media screen and (min-width: 768px){
  /* HEADER STYLES */
  header h1{
      padding-top: 40px;
      margin: 0;
  }

  .header-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .header-nav li{
    margin: 0 30px;
    background-color: #fcfbf7;
  }

/* HOME STYLES */
  #home{
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 70px;
    margin: 0 20px;
  }

  #home .main-text {
    margin: 0;
    padding: 0 20px 0 0;
    text-align: left;
  }

/* PORTFOLIO STYLES */
  .grid{
    grid-template-columns: repeat(auto-fit,minmax(47.396%,1fr)); /* minmax percentage based on 50% minus the 20px grid gap */
  }

  /* CONTACT STYLES */
  #contact{
  padding: 50px 100px;
  }

  /* FOOTER STYLES */
  .mobile-nav{
    display: none;
  }

  footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .footer-nav ul{
    margin: 0;
  }

  .footer-nav li{
    margin: 0 10px;
    padding: 0;
    background-color: #fcfbf7;
  }

  .footer-nav li:last-child{
    margin-right: 0;
  }
}


@media screen and (min-width: 1024px){
/* HEADER STYLES */
header{
  max-width: 1600px;
  margin: 0 auto;
}


  header h1{
    display: inline-block;
    margin: 30px 0 0 60px;
    padding: 10px 0;
    text-align: left;
  }

  .header-nav{
    float:right;
    margin: 30px 60px 0 0;
  }

  .header-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
  }

  .header-nav li:last-child{
    margin-right: 0;
  }


/* HOME STYLES */
  #home{
    display: flex;
    clear: right;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 60px ;
    padding-bottom: 70px;
  }


/* PORTFOLIO STYLES */
  #portfolio{
    margin: 0 auto;
    padding: 0 30px;
  }

  .grid{
    grid-template-columns: repeat(3,1fr);
  }

  /* CONTACT STYLES */
  #contact{
  margin: 0 30px;
  padding: 50px 170px;
  }

  /* FOOTER STYLES */
  footer{
    margin: 0 60px;
  }
}
